/* HEADER */

body{
  margin: 0;
}

.header{
  background-image: url(../img/pattern.png);
  background-color: #4ea0ff;
  background-size: contain;
 }

.logo{
  padding: 20px;
}

#logo{
  width: 200px;
  height: auto;
}

/* MAIN */

.container{
  width: 80%;
  margin: auto;  
}
h1{
  margin-bottom: 0;
}
h3, h4{
  margin: 0;
  color: rgb(163, 163, 163);
}
.blue{
  color: blue;
}